body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: backgroundAnimation 5s ease-in-out infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background: red;
    }
    100% {
        background: orange;
    }
}


.blob { 
    fill: url(#Gradient2); 
}
.stop-1 { 
    animation: colorLerp1 2s ease-in infinite alternate;
}
.stop-2 { 
    animation: colorLerp2 2.5s ease-in infinite alternate;
}
.stop-3 { 
    animation: colorLerp3 1.8s ease-in infinite alternate;
}

@keyframes colorLerp1 {
    0% {
        stop-color: red;
    }

    100% {
        stop-color: orange;
    }
}

@keyframes colorLerp2 {
    0% {
        stop-color: orange;
        opacity: 0.4;
    }

    100% {
        stop-color: red;
        opacity: 0.8;
    }
}

@keyframes colorLerp3 {
    0% {
        stop-color: yellow;
    }

    100% {
        stop-color: orange;
    }
}